
html {
    font-family: Overpass;
    background-color: #f9ebc88d;
    color: #4d3326;
    padding: 25px;
  }

h1, h2, h3, h4, h5, h6 {
    color: #100e49;
  }

ul {
    list-style-type: none;
  }

.img-box {
    margin: 0 auto;
    padding: 20px;
    background: white;
  }

.imgHoverContainer > img:hover {
  width: 80%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  	padding: 10px;
}

.img-circle {
    border-radius: 50%;
}

#todo_list {
  color: #100e49;
}

#main-pic {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    text-align: center;
  }

a {
    /* text-decoration: none; */
    /* background-color: #ba6e6e; */
    /* color: white; */
    padding: 5px;
    /* border-radius: 5px; */
    /* box-shadow: 0 0 16px rgba(0,0,0,0.1); */
    /* transition: 0.3s ease; */
  }
/* a:hover{
    background-color: #964a4a;
} */

div {
    /*background: white;                            /* white background */
    padding: 25px;                                  /* internal space */
    border-radius: 5px;                             /* small radius */
    margin: 25px auto;

    /* div centering */
    /*width: 400px;   /* fixed width */
    /*margin: 0 auto; /* same l-r magin (centred) */
    float: center;

    border: 1px solid black;
    border-radius: 4px;
}

.shopping_list {
  padding: 20px;
  display: inline-block;
}

.weather {
  width: 120px;
  text-align: left;
  vertical-align: top;
  display: inline-block;
}

/* Preparing for Nav Bar */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 5%;
  text-decoration: none;
  font-size: 120%;
  margin: 0 0 0 0;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f9ebc8c7;
  color: black;
}