
<!DOCTYPE html>
    <html>
        <head>
            <title>Personal Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        </head>

    <body>

        <div>
            <h1> Index </h1>
            <p>
                I'm coding in Python, SQL and HTML with the aim of becoming a Data Engineer
            </p>
            <a href="/"> Return to Index</a>
        </div>

        <div>
            <h2> Job Search </h2>
            <ul>
                {% for text, url in job_links.items() %}
                    <li><a target="_blank" href={{url}}> {{text}} </a></li>
                {% endfor %}
            </ul>
        </div>

        <div>
            <h2> Personal Links </h2>
            <ul>
                <li><a href="/photo"> photo </a></li>
                <li><a href="/profile"> profile </a></li>
                <li><a href="/todo"> to do list </a></li>
                <li><a href="/weather"> weather </a></li>
                <li><a target="_blank" href="https://gitlab.com/bibbyj"> gitlab </a></li>
                <li><a target="_blank" href="https://thedailywaffle.itch.io/"> itch.io </a></li>
                <li><a target="_blank" href="https://www.linkedin.com/in/joe-bibby-b64688136/"> linkedin </a></li>
            </ul>
        </div>

        <div>
            <h2> Price Watch </h2>
            <a target="blank_" href="https://www.currys.co.uk/computing/laptops/laptops/msi/14?prefn1=searchFilter11&prefv1=8%20GB&prefn2=searchFilter7&prefv2=AMD%20Ryzen%205%7CAMD%20Ryzen%207%7CIntel%20Core%205%7CIntel%20Core%20Ultra%205%7CIntel%20Core%20Ultra%207%7CIntel%20Core%20i5%7CIntel%20Core%20i7"> Currys Laptops </a>
            <p></p>
            <a target="blank_" href="https://www.argos.co.uk/browse/technology/laptops-and-pcs/laptops/c:30049/brands:msi/processor-type:amd-ryzen-5,amd-ryzen-7,intel-core-i5,intel-core-i7,intel-core-ultra-5,intel-core-ultra-7/screen-size-range-(in):14-%252D-14.9in/touchscreen:no/opt/sort:price/"> Argos Laptops </a>
            <p></p>
            {% for entry in watchlist %}
                <div class="shopping_list">
                    <a target="_blank" href={{entry.url}}>{{entry.text}}</a>
                    <p>{{entry.stock}}: £{{entry.price}} </p>
                    <img width=250 src= {{entry.img}}>
                </div>
            {% endfor %}
        </div>

    </body>
</html>