
<!DOCTYPE html>
    <html>
        <head>
            <title>Personal Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        </head>

    <body>
        <div>
            <a href="/"> Return to Index </a>
        </div>

        <div>
            <p> I fly a drone for aerial photography </p>
            <p> {{ message }}</p>
            <img src="data:image/png;base64,{{ img_data }}" width="400px">
            <form method="POST">
                <input type="text" name="filename">
                <input type="checkbox" name="random" checked/>
                <label for="random">Random Name   </label>
                <input type="submit" value="Submit">
            </form>
        </div>

    </body>
</html>