
<!DOCTYPE html>
    <html>
        <head>
            <title>Personal Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        </head>

    <body>
        <div>
            <h1> Welcome to my profile page! </h1>
            <img class="img-circle" id="main-pic" src="https://media.licdn.com/dms/image/D4E03AQGpQwLYopgBjA/profile-displayphoto-shrink_400_400/0/1704462109503?e=1722470400&v=beta&t=NBaJbH86Z9IXSvlYekzcivkbAK-qVH8xpWqUeVdxcBE" width="200px"></a>
            <p>
                I'm coding in Python, SQL and HTML with the aim of becoming a Data Engineer.
            </p>
            <p>
                I also tutor GCSE Maths, Physics and Coding
            </p>
            <a href="/tutor"> See my Tutoring </a>
            <a href="/"> Return to Index </a>
        </div>

        <div>
            <h2> Links </h2>
            <ul>
                <li><a href="https://gitlab.com/bibbyj"> gitlab </a></li>
                <li><a href="https://thedailywaffle.itch.io/"> itch.io </a></li>
                <li><a href="https://www.linkedin.com/in/joe-bibby-b64688136/"> linkedin </a></li>
            </ul>
        </div>

        <div class="imgHoverContainer">
            <h3> Sports </h3>
            <p> I do triathlons 🏊‍♂️🚲🏃‍♂️ </p>
            <h3> Hobbies </h3>
            <p> I fly a drone for aerial photography </p>
            <img src="{{ url_for('static', filename='collage.jpg') }}" width="400px" class="img-box">
            <h3> Projects </h3>
            <p> I'm working on a homebrew weather service </p>
        </div>

    </body>
</html>