
<!DOCTYPE html>
    <html>
        <head>
            <title>Personal Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        </head>

    <body>

        <div>
            <h1> To Do </h1>
            <a href="/"> Return to Index</a>
        </div>

        <div>
            <h2> To Do List </h2>
            <button><a href="/todo">Reset Filter</a></button>
            <button><a href="/todo?f=done">Filter: Done</a></button>
            <button><a href="/todo?f=rejected">Filter: Rejected</a></button>
            <p></p>
            <table id="todo_list">
                <tr>
                    <th> New/Edit </th>
                    <th> ID </th>
                    <th> Status </th>
                    <th> Due Date </th>
                    <th> Task </th>
                    <th> Quick Actions </th>
                </tr>
                {% for entry in todo_list.list %}
                    <tr>
                        <td>
                            <button><a href="todo/{{entry.id}}">Edit</a></button>
                        </td>
                        <td> {{entry.id}} </td>
                        <td> {{entry.status}} </td>
                        <td> {{entry.date}} </td>
                        <td> {{entry.task}} </td>
                        <td>
                            <form method="POST">
                                <input type="hidden" value="f_action" name="form_id">
                                <input type="hidden" value="{{entry.id}}" name ="index">
                                <select name = "action">
                                    <option value="pending"> Pending </option>
                                    <option value="started" selected> Started </option>
                                    <option value="done"> Done </option>
                                    <option value="delete"> Delete </option>
                                </select>
                                <input type="submit" value="Submit">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <form method="POST">
                        <input type="hidden" value="f_new" name="form_id">
                        <td> <input type="submit" value="Add"></td>
                        {% if todo_list.list | length > 0 %}
                        <!-- <td> <input type="text" value="{{ todo_list.list[-1].id + 1}}" name="id"> </td> -->
                        <td> {{next_id}} </td>
                        {% else %}
                        <td> <input type="text" value="1" name="id"> </td>
                        {% endif %}

                        <td>
                            <select name="status">
                                <option value="pending"> pending </option>
                                <option value="started"> started </option>
                                <option value="done"> done </option>
                                <option value="rejected"> rejected </option>
                            </select>
                        </td>
                        <td> <input type="date" name="date" value={{today}}> </td>
                        <td> <input type="text" name="task"> </td>
                        <td> <input type="submit" value="Add"></td>
                    </form>
                </tr>
        </div>
    </body>
</html>