
<!DOCTYPE html>
    <html>
        <head>
            <title>Personal Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        </head>

    <body>

        <div>
            <p><a href="/"> Return to Index</a></p>
            <p></p><a href="/todo"> Return to Todo</a></p>
        </div>

        <div>
            <h2> To Do Item: {{ item.id }}</h2>

            <form method="POST">
                <input type="hidden" value="{{ item.id }}" name="id">
                <input type="text" value="{{ item.task }}" name="task">

                <select name="status">
                    <option value="pending"> pending </option>
                    <option value="started"> started </option>
                    <option value="done"> done </option>
                    <option value="rejected"> rejected </option>
                </select>

                <input type="date" value="{{ item.date }}" name="date">
                <input type="submit" value="Submit">
           </form>
        </div>
    </body>
</html>