
<!DOCTYPE html>
    <html>
        <head>
            <title>Personal Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        </head>

    <body>
        <div>
            <h1> Tutoring Profile </h1>
            <a href="/"> Return to Index</a>
        </div>
        <div>
            <img src="{{ url_for('static', filename='tutor_poster.png') }}" width=900>
        </div>

    </body>
</html>