
<!DOCTYPE html>
    <html>
        <head>
            <title>Personal Page</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <link href="https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
            <link rel="icon" href="{{ url_for('static', filename='icon.png') }}">
        </head>

    <body>
        <h3>WEATHER</h3>
        <a href="/"> Return to Index</a>
        <p></p>
        {% for key, value in weather.items() %}
            <p class="weather">{{key}}: <br>{{value}}</p>
        {% endfor %}
    </body>
</html>